.AnnoyingPopup {
    $width: 800px;
    $height: 600px;
    font-family: 'Nunito', sans-serif;
    color: #333;
    position: absolute;
    top: calc(50% - $height / 2);
    left: calc(50% - $width / 2);
    width: $width;
    height: $height;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: 6px solid coral;
}
