.ImportExportScreen {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3);

    .import-export-button {
        display: flex;
        justify-content: space-around;
        margin-top: var(--spacing-2);
    }
}
