[cmdk-overlay] {
    background-color: black;
    opacity: 0.5;
    z-index: 999999;
}

[cmdk-root] {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);

    width: 90vw;
    max-width: 550px;
    max-height: 85vh;

    background-color: var(--background-lighter);
    color: var(--text);
    box-shadow: hsla(var(--text-hsl) /  0.15) 0px 2px 10px 8px;
    border: 6px solid var(--background-lighter);
    border-radius: 16px;
    z-index: 9999999;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    .Input {
        border-radius: 0px;
        padding: 12px 15px;
        font-size: 1.3rem;
        height: auto;

        &:focus {
            outline: none;
        }
    }

    .cmdk-scrollarea {
        margin: 6px 0;
        max-height: min(40vh, 600px);

        .cmdk-scrollarea-content {
            max-height: min(40vh, 600px);
            display: flex;
            flex-direction: column;
            padding: 8px;
        }

    }

    [cmdk-list] {
        background-color: var(--background);
        border-radius: 14px;
        font-size: 1.1rem;

        // overflow: auto;

        [cmdk-group] {
            [cmdk-group-heading] {
                margin-left: 6px;
                margin-right: 6px;
                font-size: 0.9rem;
                color: var(--text-subtle-2);
                margin-bottom: 4px;
            }
        }

        [cmdk-item] [cmdk-group],
        [cmdk-group]+[cmdk-group],
        [cmdk-group]+[cmdk-item] {
            margin-top: 12px;
        }

        [cmdk-item] {
            display: flex;
            align-items: center;
            gap: 12px;
            padding: 12px 24px;
            border-radius: 6px;
            cursor: pointer;

            &[aria-selected="true"] {
                background: var(--accent);
                color: var(--text);
            }

            [cmdk-item-icon] {
                min-width: 24px;
                min-height: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--icon-color)
            }

            [cmdk-item-text] {
                flex-grow: 1;
                flex-shrink: 1;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            [cmdk-item-right-hint] {
                color: var(--text-subtle-2);
                font-size: 0.8rem;
                white-space: nowrap;
            }
        }

        [cmdk-separator] {
            margin: 6px 12px;
            border-bottom: 2px solid var(--background-lighter);
        }

        [cmdk-empty] {
            padding: 12px 24px;
        }
    }

}