@use "@anori/components/utils.scss" as utils;
.FolderItem {
    display: flex;
    gap: utils.$spacing-2;
    align-items: center;
    margin: utils.$spacing-1-5 0;

    .folder-drag-indicator {
        touch-action: none;
        cursor: grab;
    }

    .folder-icon {
        cursor: pointer;
        background: none;
        display: flex;
        color: inherit;
        padding: utils.$spacing-1-5 utils.$spacing-3;

        &.static {
            padding: utils.$spacing-1-5 utils.$spacing-3;
            cursor: default;
        }
    }

    input {
        background: transparent;
        border: none;
        font-size: inherit;
        color: inherit;
        font-family: inherit;
        border-radius: utils.$radius-sm;

        &:focus {
            outline: none;
            outline: 2px solid var(--accent);
        }
    }

    .folder-name {
        padding: utils.$spacing-0-5 utils.$spacing-2;
        flex-grow: 1;
    }

    .Button {
        background: var(--background);
    }
}
