@use "@anori/components/utils.scss" as utils;

.SettingsModal {
    padding: 0 !important;

    .modal-header {
        padding: var(--spacing-6);
        padding-bottom: 0;
    }
}

.Settings {
    margin: 0 var(--spacing-1-5);
    margin-bottom: var(--spacing-1-5);

    .settings-content {
        padding: 0 var(--spacing-4);
        padding-bottom: var(--spacing-4);
        display: flex;
        flex-direction: column;
        gap: var(--spacing-6);
        max-width: 600px;
        min-width: 600px;
    }
}

.MainSettingsScreen {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: var(--spacing-4);
}

.GeneralSettingsScreen {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3);

    .translation-alert {
        margin-top: var(--spacing-4);
    }

    .screen-size-hint {
        margin-left: var(--spacing-1);
    }

    .input-wrapper {
        margin-bottom: var(--spacing-3);

        label {
            margin-bottom: var(--spacing-1);
            display: flex;
            align-items: center;
        }

        .Input {
            width: 100%;
        }
    }

    .SelectTrigger {
        width: 100%;
    }
}

.CustomIconsScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-3);

    .no-custom-icons-alert {
        padding: var(--spacing-4);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .custom-icons-grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: var(--spacing-3);
        margin-bottom: var(--spacing-2);
        align-self: stretch;

        .custom-icon-plate {
            padding: var(--spacing-3);
            border-radius: var(--radius-lg);
            background: var(--background-lighter);
            display: flex;
            gap: var(--spacing-3);
            align-items: center;

            .custom-icon-name {
                flex: 1;
                text-overflow: ellipsis;
                font-size: var(--font-size-sm);
                overflow: hidden;
            }
        }
    }

    .draft-icons-list {
        border: 3px solid var(--background-lighter);
        border-radius: var(--radius-lg);
        margin-bottom: var(--spacing-2);
        display: flex;
        flex-direction: column;
        gap: var(--spacing-4);
        padding: var(--spacing-4);
        align-self: stretch;
    }

    .draft-icon-section {
        display: flex;
        align-items: center;
        gap: var(--spacing-8);

        .draft-icon-preview {
            align-self: center;
        }

        .draft-icon-name-wrapper {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            gap: var(--spacing-2);

            .draft-icon-name {}

            .draft-icon-name-error {}
        }
    }
}

.FoldersScreen {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: var(--spacing-3);

    .add-folder-btn {
        align-self: center;
    }
}



.ImportExportScreen {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3);

    .import-export-button {
        display: flex;
        justify-content: space-around;
        margin-top: var(--spacing-2);
    }
}

.HelpAboutScreen {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-5);

    .logo {
        align-self: center;
        width: 300px;
        height: auto;
    }

    .shortcuts-section {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2);
    }
}

.PluginsScreen {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-6);

    section {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
}

.ScreenButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-4);
    background: var(--background-lighter);
    border-radius: var(--radius-lg);
    color: var(--text);
    gap: var(--spacing-4);
    cursor: pointer;
    transition: 0.2s ease-in-out;

    @include utils.hover {
        background: var(--accent-subtle);
    }

    .icon {
        opacity: 0.5;
    }
}