@use "@anori/components/utils.scss" as utils;

.SettingsModal {
    padding: 0 !important;

    .modal-header {
        padding: utils.$spacing-6;
        padding-bottom: 0;
    }
}

.Settings {
    margin: 0 utils.$spacing-1-5;
    margin-bottom: utils.$spacing-1-5;

    .settings-content {
        padding: 0 utils.$spacing-4-5;
        padding-bottom: utils.$spacing-4-5;
        display: flex;
        flex-direction: column;
        gap: utils.$spacing-6;
        max-width: 600px;
        min-width: 600px;
    }
}

.MainSettingsScreen {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: utils.$spacing-4;
}

.GeneralSettingsScreen {
    display: flex;
    flex-direction: column;
    gap: utils.$spacing-2-5;

    .translation-alert {
        margin-top: utils.$spacing-4;
    }

    .screen-size-hint {
        margin-left: utils.$spacing-1;
    }

    .input-wrapper {
        margin-bottom: utils.$spacing-2-5;

        label {
            margin-bottom: utils.$spacing-1;
            display: flex;
            align-items: center;
        }

        .Input {
            width: 100%;
        }
    }

    .SelectTrigger {
        width: 100%;
    }
}

.CustomIconsScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: utils.$spacing-2-5;

    .no-custom-icons-alert {
        padding: utils.$spacing-4;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .custom-icons-grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: utils.$spacing-3;
        margin-bottom: utils.$spacing-2;
        align-self: stretch;

        .custom-icon-plate {
            padding: utils.$spacing-3;
            border-radius: utils.$radius-lg;
            background: var(--background-lighter);
            display: flex;
            gap: utils.$spacing-3;
            align-items: center;

            .custom-icon-name {
                flex: 1;
                text-overflow: ellipsis;
                font-size: utils.$font-size-sm;
                overflow: hidden;
            }
        }
    }

    .draft-icons-list {
        border: 3px solid var(--background-lighter);
        border-radius: utils.$radius-lg;
        margin-bottom: utils.$spacing-2;
        display: flex;
        flex-direction: column;
        gap: utils.$spacing-4;
        padding: utils.$spacing-4;
        align-self: stretch;
    }

    .draft-icon-section {
        display: flex;
        align-items: center;
        gap: utils.$spacing-8;

        .draft-icon-preview {
            align-self: center;
        }

        .draft-icon-name-wrapper {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            gap: utils.$spacing-2;

            .draft-icon-name {}

            .draft-icon-name-error {}
        }
    }
}

.FoldersScreen {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: utils.$spacing-2-5;

    .add-folder-btn {
        align-self: center;
    }
}



.ImportExportScreen {
    display: flex;
    flex-direction: column;
    gap: utils.$spacing-2-5;

    .import-export-button {
        display: flex;
        justify-content: space-around;
        margin-top: utils.$spacing-2;
    }
}

.HelpAboutScreen {
    display: flex;
    flex-direction: column;
    gap: utils.$spacing-5;

    .logo {
        align-self: center;
        width: 300px;
        height: auto;
    }

    .shortcuts-section {
        display: flex;
        flex-direction: column;
        gap: utils.$spacing-2;
    }
}

.PluginsScreen {
    display: flex;
    flex-direction: column;
    gap: utils.$spacing-6;

    section {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
}

.ScreenButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: utils.$spacing-4;
    background: var(--background-lighter);
    border-radius: utils.$radius-lg;
    color: var(--text);
    gap: utils.$spacing-4;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    @include utils.hover {
        background: var(--accent-subtle);
    }

    .icon {
        opacity: 0.5;
    }
}