.BackgroundPlate {
    // width: 250px;
    height: 140px;
    flex-grow: 1;
    border-radius: 0.75rem;
    background-size: cover;
    background-clip: padding-box;
    position: relative;
    border: 0.25rem solid transparent;

    .theme-actions {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 0.5rem;
    }

    .color-cirles-wrapper {
        position: absolute;
        bottom: 0.5rem;
        left: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        padding: 0.25rem;

        .color-circle {
            width: 30px;
            height: 30px;
            border-radius: 15px;
        }
    }



    &.active {
        border-color: var(--accent);
    }
}

.ThemesScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding-top: 4px;

    .themes-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        align-self: stretch;
    }

    .theme-editor {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 1.25rem;

        .theme-preview {
            border-radius: 0.75rem;
            background: repeating-conic-gradient(#c6c6c6 0% 25%, white 0% 50%) 50% / 20px 20px;
            height: 400px;
        }

        .background-and-blur {
            display: flex;
            gap: 1rem;
            align-items: center;

            .Slider {
                flex-grow: 1;
            }
        }

        
        .swatches {
            display: flex;
            justify-content: center;
            gap: 3rem;

            button {
                width: 2rem;
                height: 2rem;
                border-radius: 99999px;
                outline: 2px solid hsla(var(--text-hsl) / 0.2);
                cursor: pointer;
            }
        }

        .color-picker {
            align-self: center;
        }
    }

    .action-buttons {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
}