@use "@anori/components/utils.scss" as utils;
.BackgroundPlate {
    height: 140px;
    flex-grow: 1;
    position: relative;


    .main-btn {
        position: absolute;
        inset: 0;
        border-radius: utils.$radius-lg;
        background-size: cover;
        background-clip: padding-box;
        border: 0.25rem solid transparent;        
    }

    &.active {
        .main-btn {
            border-color: var(--accent);
        }
    }

    .theme-actions {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: utils.$spacing-2;
    }

    .color-cirles-wrapper {
        position: absolute;
        bottom: 0.5rem;
        left: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: utils.$spacing-1;
        padding: utils.$spacing-1;

        .color-circle {
            width: 30px;
            height: 30px;
            border-radius: utils.$radius-lg;
        }
    }
}

.ThemesScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: utils.$spacing-2;
    padding-top: utils.$spacing-1;

    .themes-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: utils.$spacing-4;
        align-self: stretch;
    }

    .theme-editor {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: utils.$spacing-5;

        .theme-preview {
            border-radius: utils.$radius-lg;
            background: repeating-conic-gradient(#c6c6c6 0% 25%, white 0% 50%) 50% / 20px 20px;
            height: 400px;
        }

        .select-bg-btn {
            align-self: center;
        }

        .blur-settings {

            .Slider {
                margin-top: utils.$spacing-1;
            }
        }


        .swatches {
            display: flex;
            justify-content: center;
            gap: utils.$spacing-16;

            .swatch-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: utils.$spacing-1-5;
            }

            button {
                width: 2rem;
                height: 2rem;
                border-radius: utils.$radius-full;
                outline: 2px solid hsla(var(--text-hsl) / 0.2);
                cursor: pointer;
            }
        }

        .color-picker {
            align-self: center;
        }
    }

    .action-buttons {
        display: flex;
        gap: utils.$spacing-4;
        margin-top: utils.$spacing-8;
    }
}
