@use "@components/base.scss";
@use '@components/utils.scss' as utils;

@font-face {
    font-family: 'Nunito';
    font-weight: 1 999;
    font-display: swap;
    src: url('/assets/Nunito.ttf') format('truetype-variations');
}

html {
    height: 100vh;
    height: 100dvh;
}

body {
    font-family: 'Nunito', BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    line-height: 1.65;
    letter-spacing: 0.075rem;
    color: var(--text);
    height: 100vh;
    height: 100dvh;
    background: var(--background-image);
    background-size: cover;
    overflow: hidden;
    font-size: 1rem;
}

#root {
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    width: 100dvw;
    z-index: 0;
    // background-color: hsla(var(--text-hsl) / 0.35);

    &::before {
        content: "";
        pointer-events: none;
        position: fixed;
        width: 100vw;
        width: 100dvw;
        height: 100vh;
        height: 100dvh;
        top: 0;
        left: 0;
        background-image: radial-gradient(hsla(var(--text-hsl) / 0.2), hsla(var(--text-hsl) / 0.2) 1px, rgba(0, 0, 0, 0) 1px, rgba(0, 0, 0, 0) 100%);
        background-size: 30px 30px;
    }
}

.StartPage {
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    display: flex;
    flex-direction: column;

    .start-page-content {
        display: flex;
        flex: 1;
        overflow: hidden;
    }

    &.horizontal-sidebar {

        .start-page-content {
            flex-direction: column-reverse;
        }

        .sidebar-wrapper {
            padding: 1rem 1.5rem;

            .sidebar {
                .sidebar-viewport {

                    &>div[style]:not(#specifity-bump) { 
                        flex-direction: column;
                    }
                    .sidebar-content {
                        padding: 0.625rem;
                        flex-direction: row !important;
                    }
                }
            }

        }

        .widgets-area {
            margin: 2rem;
            margin-bottom: 0;
        }
    }

    &.with-bookmarks-bar {
        .widgets-area {
            margin-top: 0.25rem;
        }

        &:not(.horizontal-sidebar) {
            .sidebar-wrapper {
                padding-top: 0.5rem !important;
            }
        }
    }

    .bookmarks-bar-placeholder {
        margin: 2rem;
        margin-top: 1rem;
        margin-bottom: 0;
        height: calc(0.9rem * 1.2 + 1.55rem);
    }

   

    .widgets-area {
        position: relative;
        margin: 2rem;
        margin-inline-start: 0;
        flex: 1;
        border-radius: 36px;
        background: hsla(var(--text-hsl) / 0.04);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        z-index: 1;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        min-width: 0;
    }

}


.loading-cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--background-lighter);
    pointer-events: none;
    z-index: 999999999;

    &.active {
        animation-delay: 150ms;
        animation-duration: 500ms;
        animation-name: loading-keyframes;
        animation-iteration-count: 1;
    }
}


@keyframes loading-keyframes {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}