@use '../../components/base.scss';

@font-face {
    font-family: 'Quicksand';
    font-weight: 1 999;
    font-display: swap;
    src: url('/assets/Quicksand.ttf') format('truetype-variations');
}

html {
    height: 100vh;
}

body {
    font-family: 'Quicksand', BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 1.65;
    letter-spacing: 0.075rem;
    color: var(--text);
    height: 100vh;
    // background-image: url('/assets/images/backgrounds/greenery.jpg');
    background-image: var(--background-image);
    background-size: cover;
    overflow: hidden;
    font-size: 1rem;
}

#root {
    height: 100vh;
    width: 100vw;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.35);

    &::before {
        content: "";
        pointer-events: none;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        // backdrop-filter: blur(50px);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        background-image: radial-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 1px, rgba(0, 0, 0, 0) 1px, rgba(0, 0, 0, 0) 100%);
        background-size: 30px 30px;
    }
}

.StartPage {
    height: 100vh;
    width: 100vw;
    display: flex;

    .sidebar {
        flex-grow: 0;
        flex-shrink: 0;
        padding: 38px 24px;
        z-index: 1;

        display: flex;
        flex-direction: column;
        gap: 2rem;

        .spacer {
            flex-grow: 1;
        }
    }

    &.compact {
        .sidebar {
            gap: 1.5rem;
        }
    }

    .widgets-area {
        position: relative;
        margin: 32px;
        margin-left: 0px;
        flex: 1;
        border-radius: 36px;
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        z-index: 1;
        overflow: hidden;


        display: flex;
        flex-direction: column;
    }

}

.settings-modal {
    padding: 0px !important;

    .modal-header {
        padding: 24px;
        padding-bottom: 0px;
    }
}


.loading-cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--background-lighter);
    pointer-events: none;
    z-index: 999999999;

    &.active {
        animation-delay: 150ms;
        animation-duration: 500ms;
        animation-name: loading-keyframes;
        animation-iteration-count: 1;
    }
}


@keyframes loading-keyframes {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}