@use "./utils.scss" as utils;
.Alert {
    padding: utils.$spacing-4;
    border-radius: utils.$radius-lg;
    background-color: var(--accent-subtle);

    &-info-darker {
        background-color: var(--background);
    }

    &-info {
        background-color: var(--background-lighter);
    }
}
