.Alert {
    padding: var(--spacing-4);
    border-radius: var(--radius-lg);
    background-color: var(--accent-subtle);

    &-info-darker {
        background-color: var(--background);
    }

    &-info {
        background-color: var(--background-lighter);
    }
}
