.Alert {
    padding: 1rem;
    border-radius: 12px;
    background-color: var(--accent-subtle);

    &-info-darker {
        background-color: var(--background);
    }

    &-info {
        background-color: var(--background-lighter);
    }
}