@use 'sass:color';


$accent: #72baa7;
$background: #03200e;
$text: rgb(245, 244, 240);

@mixin scroll-mixin {
    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    &::-webkit-scrollbar:vertical {
        width: 7px;
    }

    &::-webkit-scrollbar:horizontal {
        height: 7px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 2px solid var(--background-lighter);
        /* should match background, can't be transparent */
        background-color: var(--background-lighter);
    }

    &::-webkit-scrollbar-track {
        background-color: var(--background);
        border-radius: 8px;
    }
}

:root {
    --accent: #{$accent};
    --accent-subtle: #{color.scale($accent, $alpha: -50%)};

    --background: #{$background};
    --background-lighter: #{color.scale($background, $lightness: +5%)};
    --text: #{$text};
    --text-subtle: #{color.scale($text, $alpha: -15%)};
    --text-disabled: #{color.scale($text, $blackness: +45%)};
}

* {
    margin: 0;
    box-sizing: border-box;
    border: none;
    background: none;
    padding: 0;
}

button,
input {
    font-size: inherit;
    color: inherit;
    letter-spacing: inherit;
    font-family: inherit;
}

label {
    font-weight: 500;
    margin-bottom: 6px;
    display: block;
    margin-left: 4px;
}