@use "@anori/components/utils.scss" as utils;

.BookmarksBar {
    border-radius: utils.$radius-lg;
    background: hsla(var(--text-hsl) / 0.04);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1;
    overflow: hidden;
    margin: utils.$spacing-8;
    margin-top: utils.$spacing-4;
    margin-bottom: 0;
    padding: utils.$spacing-2;
    display: flex;
    align-items: center;

    min-height: calc(0.9rem * 1.2 + 1.55rem);

    &.transparent {
        padding: 0;
        border-radius: 0;
        background: transparent;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
    }

    .bookmarks {
        display: flex;
        align-items: flex-start;
        gap: utils.$spacing-4;
        flex-grow: 1;
        overflow: hidden;

        .bookmarks-bar-wrapper {
            flex: 1;
            overflow: hidden;
            padding-bottom: utils.$spacing-2;
        }

        .bookmarks-bar {
            display: flex;
            gap: utils.$spacing-3;
            width: fit-content;
        }

        .bookmarks-placeholder {
            height: 2.08rem;
        }
    }

    .Bookmark {
        padding: utils.$spacing-2;
        border-radius: utils.$radius-md;
        background: hsla(var(--text-hsl) / 0.04);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        max-width: 9rem;
        white-space: nowrap;
        overflow: hidden;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: utils.$spacing-2;
        text-decoration: none;
        transition: 0.1s ease-in-out;
        line-height: 1.2;
        font-size: utils.$font-size-sm;
        user-select: none;
        flex-shrink: 0;

        &.full-width {
            max-width: unset;
        }

        .folder-icon {
            color: hsla(var(--text-hsl) /  0.733);
        }

        span {
            text-overflow: ellipsis;
            overflow: hidden;
        }

        @include utils.hover {
            background: hsla(var(--text-hsl) / 0.1);
        }
    }
}

.BookmarksMenubarContent {
    min-width: 10rem;
    max-width: 25rem;
    max-height: 80vh;
    overflow-y: auto;
    background: hsla(var(--text-hsl) / 0.1);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    border-radius: utils.$radius-md;
    padding: utils.$spacing-2;
    box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
    display: flex;
    flex-direction: column;

    a {
        text-decoration: none;
    }

    .ScrollAreaRoot {
        padding-right: utils.$spacing-3;

        &:has(.ScrollAreaScrollbar[data-state="hidden"]),
        &:not(:has(.ScrollAreaScrollbar)) {
            padding-right: 0;
        }
    }
}

.MenuBookmark {
    padding: utils.$spacing-2;
    border-radius: utils.$radius-md;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: utils.$spacing-2;
    text-decoration: none;
    transition: 0.1s ease-in-out;
    line-height: 1.2;
    font-size: utils.$font-size-sm;
    user-select: none;

    .content {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: utils.$spacing-2;
        overflow: hidden;

        span {
            text-overflow: ellipsis;
            overflow: hidden;
            flex-grow: 1;
        }
    }

    @include utils.hover {
        background: hsla(var(--text-hsl) / 0.1);
    }

    &:focus-visible {
        outline: none;
        background: hsla(var(--text-hsl) / 0.1);
    }
}

.radix-popover-zindex-fix>[data-radix-popper-content-wrapper] {
    z-index: 2 !important;
}