.Checkbox {
    display: flex;
    align-items: center;
    gap: 12px;

    &:not([data-disabled]) {
        button,
        label {
            cursor: pointer;
        }
    }

    &[data-disabled] {
        button,
        label {
            cursor: not-allowed;
        }

        color: var(--text-disabled);
    }

    &-root {
        width: 20px;
        height: 20px;
        min-width: 20px;
        min-height: 20px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--background-lighter);
        border: 2px solid hsla(var(--text-hsl) / 0.1);
    }

    &-indicator {
        display: flex;
    }

    label {
        margin: 0;
        display: flex;
        align-items: center;
        font-weight: 400;
        line-height: 1.5;
    }
}