@use "@anori/components/utils.scss" as utils;

.Combobox-input {}

.Combobox-options {
    position: absolute;
    background-color: var(--background);
    border-radius: utils.$radius-sm;
    box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
    z-index: 9999;
    border: 2px solid var(--accent);
    padding: utils.$spacing-1-5;
    @include utils.scroll-mixin();

    .Combobox-option {
        font-size: utils.$font-size-sm;
        line-height: 1;
        color: var(--text);
        border-radius: utils.$radius-xs;
        display: flex;
        align-items: center;
        height: 30px;
        padding: 0 utils.$spacing-4;
        position: relative;
        user-select: none;
        -webkit-user-select: none;

        &.highlighted {
            background-color: var(--accent);
        }

        .content {
            z-index: 1;
            display: flex;
            gap: utils.$spacing-2;
        }

        .check-icon {
            opacity: 0;
            flex-shrink: 0;
            flex-grow: 0;
        }

        &[data-active="true"] {
            outline: none;
            
            color: var(--text);
        }

        &[data-selected="true"] {
            .check-icon {
                opacity: 1;
            }
        }
    }

    .Combobox-no-results {
        font-size: utils.$font-size-sm;
        line-height: 1;
        color: var(--text);
        border-radius: utils.$radius-xs;
        display: flex;
        align-items: center;
        height: 30px;
        padding: 0 utils.$spacing-9 0 utils.$spacing-6;
        position: relative;
        user-select: none;
    }
}