@use "@components/utils.scss" as utils;

.FolderButton {
    padding: 8px;
    background: none;
    cursor: pointer;
    border-radius: 8px;
    border-color: transparent;
    border-width: 3px;
    border-style: solid;
    color: rgba(255, 255, 255, 0.733);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s ease-in-out;
    position: relative;
    user-select: none;
    -webkit-user-select: none;

    @include utils.hover {
        transform: scale(1.15);
        color: var(--accent);
    }

    &.drop-destination {
        border-color: rgba(255, 255, 255, 0.25);
    }

    &.highlight-drop {
        background: rgba(255, 255, 255, 0.25);
    }

    .background-glow {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: transparent;
        pointer-events: none;
        border-radius: 8px;
        box-shadow: 0px 0px 7px 7px var(--accent-subtle);
    }

    .red-dot {
        position: absolute;
        top: 10%;
        right: 10%;
        width: 8px;
        height: 8px;
        background: rgb(247, 60, 60);
        border-radius: 4px;
    }
}