@use "@components/utils.scss" as utils;

.IconPicker {
    width: 410px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    section {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .icons-search-wrapper {
        margin-bottom: 0.75rem;
        display: flex;
        gap: 0.5rem;

        .Input {
            flex-grow: 1;
        }
    }

    .no-custom-icons-alert {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 48px 24px;
        flex-direction: column;
        gap: 24px;
        text-align: center;
    }

    .icons-grid {
        // TODO: will be good to migrate to <ScrollArea> component instead of this mixin, but we don't own underlaying grid component...
        @include utils.scroll-mixin();

        align-self: center;
        overflow-x: hidden !important;
    }
}

.IconRow {
    display: flex;
}

.IconCell {
    padding: 4px;
    transition: 0.05s ease-in-out;
    contain: paint;
    outline: none;

    &:not(.inactive){
        @include utils.hover {
            background: hsla(var(--text-hsl) /  0.2);
            border-radius: 6px;
            cursor: pointer;
            outline: none;
        }

        &:focus-visible  {
            background: hsla(var(--text-hsl) /  0.2);
            border-radius: 6px;
            cursor: pointer;
            outline: none;
        }

    }

    &.inactive {
        pointer-events: none;
    }
}