@use "@anori/components/utils.scss" as utils;

.IconPicker {
    width: 410px;

    display: flex;
    flex-direction: column;
    gap: utils.$spacing-4;

    section {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .icons-search-wrapper {
        margin-bottom: utils.$spacing-3;
        display: flex;
        gap: utils.$spacing-2;

        .Input {
            flex-grow: 1;
        }
    }

    .too-broad-alert {
        padding: utils.$spacing-1 utils.$spacing-3;
        border-radius: utils.$radius-md;
        background-color: var(--background-lighter);
        font-size: utils.$font-size-sm;
        margin-bottom: utils.$spacing-2;
    }

    .empty-state-alert {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: utils.$spacing-12 utils.$spacing-6;
        flex-direction: column;
        gap: utils.$spacing-6;
        text-align: center;
    }

    .icons-grid {
        // TODO: will be good to migrate to <ScrollArea> component instead of this mixin, but we don't own underlaying grid component...
        @include utils.scroll-mixin();

        align-self: center;
        overflow-x: hidden !important;
    }
}

.IconRow {
    display: flex;
}

.IconCell {
    padding: utils.$spacing-1;
    transition: 0.05s ease-in-out;
    contain: paint;
    outline: none;

    &:not(.inactive){
        @include utils.hover {
            background: hsla(var(--text-hsl) /  0.2);
            border-radius: utils.$radius-sm;
            cursor: pointer;
            outline: none;
        }

        &:focus-visible  {
            background: hsla(var(--text-hsl) /  0.2);
            border-radius: utils.$radius-sm;
            cursor: pointer;
            outline: none;
        }

    }

    &.inactive {
        pointer-events: none;
    }
}