.Input {
    border-radius: var(--radius-md);
    padding: var(--spacing-2-5) var(--spacing-4);
    font-family: inherit;
    font-size: var(--font-size-sm);
    line-height: 1;
    letter-spacing: inherit;
    min-width: 15rem;
    border: none;
    color: var(--text-subtle-1);
    background: var(--background-lighter);

    &:focus {
        outline: 2px solid var(--accent);
    }

    &::placeholder {
        color: var(--text-subtle-2);
    }
}

.TextArea {
    line-height: inherit !important;
}
