.Input {
    border-radius: 8px;
    padding: 0.6rem 1rem;
    font-family: inherit;
    font-size: 0.875rem;
    line-height: 1;
    letter-spacing: inherit;
    min-width: 15rem;
    border: none;
    color: var(--text-subtle-1);
    background: var(--background-lighter);

    &:focus {
        outline: 2px solid var(--accent);
    }

    &::placeholder {
        color: var(--text-subtle-2);
    }
}

.TextArea {
    line-height: inherit !important;
}