@use "./utils.scss" as utils;
.Popover {
    background: var(--background);
    color: var(--dark-primary);
    width: max-content;
    z-index: 9999;
    padding: utils.$spacing-4;
    border-radius: utils.$radius-sm;
    box-shadow: hsla(var(--text-hsl) / 0.15) 0px 2px 10px 8px;
    // border: 3px solid var(--accent);
}
