.SelectTrigger {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    padding: 0 15px;
    font-size: 0.875rem;
    line-height: 1;
    height: 35px;
    gap: 12px;
    min-width: 250px;
    border: 0px solid transparent;
    color: var(--text-subtle-1);
    background: var(--background-lighter);
    cursor: pointer;
}

.SelectTrigger[data-placeholder] {
    color: var(--text-subtle-1);
}

.SelectIcon {
    color: var(--text-subtle-1);
}

.SelectContent {
    overflow: hidden;
    background-color: var(--background);
    border-radius: 6px;
    box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
    z-index: 9999;
    border: 2px solid var(--accent);

    &.popper {
        width: var(--radix-select-trigger-width);
        max-height: var(--radix-select-content-available-height);
    }
}

.SelectViewport {
    padding: 5px;
}

.SelectItem {
    font-size: 0.8125rem;
    line-height: 1;
    color: var(--text);
    border-radius: 3px;
    display: flex;
    align-items: center;
    height: 1.5625rem;
    padding: 0 35px 0 25px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
}

.SelectItem[data-disabled] {
    color: var(--text-disabled);
    pointer-events: none;
}

.SelectItem[data-highlighted] {
    outline: none;
    background-color: var(--accent);
    color: var(--text);
}

.SelectLabel {
    padding: 0 25px;
    font-size: 1rem;
    line-height: 2rem;
    color: var(--text-subtle-1);
    font-weight: 600;
}

.SelectSeparator {
    height: 1px;
    background-color: var(--violet6);
    margin: 5px;
}

.SelectItemIndicator {
    position: absolute;
    left: 0;
    width: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.SelectScrollButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    background-color: var(--background);
    cursor: default;
}