.SelectTrigger {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    padding: 0 15px;
    font-size: 14px;
    line-height: 1;
    height: 35px;
    gap: 12px;
    min-width: 250px;
    border: 0px solid transparent;
    color: var(--text-subtle);
    background: var(--background-lighter);
}


.SelectTrigger:hover {
    cursor: pointer;
}

.SelectTrigger[data-placeholder] {
    color: var(--text-subtle);
}

.SelectIcon {
    color: var(--text-subtle);
}

.SelectContent {
    overflow: hidden;
    background-color: var(--background);
    border-radius: 6px;
    box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
    z-index: 9999;
    border: 2px solid var(--accent);
}

.SelectViewport {
    padding: 5px;
}

.SelectItem {
    font-size: 13px;
    line-height: 1;
    color: var(--text);
    border-radius: 3px;
    display: flex;
    align-items: center;
    height: 25px;
    padding: 0 35px 0 25px;
    position: relative;
    user-select: none;
}

.SelectItem[data-disabled] {
    color: var(--text-disabled);
    pointer-events: none;
}

.SelectItem[data-highlighted] {
    outline: none;
    background-color: var(--accent);
    color: var(--text);
}

.SelectLabel {
    padding: 0 25px;
    font-size: 16px;
    line-height: 32px;
    color: var(--text-subtle);
    font-weight: 600;
}

.SelectSeparator {
    height: 1px;
    background-color: var(--violet6);
    margin: 5px;
}

.SelectItemIndicator {
    position: absolute;
    left: 0;
    width: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.SelectScrollButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    background-color: white;
    color: var(--violet11);
    cursor: default;
}