.ShortcutHint {
    background: var(--accent);
    display: inline-flex;
    border-radius: var(--radius-xs);
    padding: 0 var(--spacing-1);
    box-shadow: 0px 2px 0px 2px var(--accent-subtle);
    margin: 0 3px;
}
