@use "./utils.scss" as utils;
.ShortcutsHelp {
    display: flex;
    flex-direction: column;
    // gap: 18px;

    .shortcut-row {
        display: flex;
        gap: utils.$spacing-3;

        &:not(:last-child) {
            padding-bottom: utils.$spacing-3;
            border-bottom: 1px solid rgba(174, 174, 174, 0.133);
            margin-bottom: utils.$spacing-3;
        }


        .hint-wrapper {
            align-items: center;
            min-width: 140px;
            display: flex;
            gap: utils.$spacing-2;
        }
    }
}
