.Slider {
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
    touch-action: none;
    height: 20px;

    .SliderTrack {
        background-color: var(--background-lighter);
        position: relative;
        flex-grow: 1;
        border-radius: 9999px;
        height: 3px;
    }

    .SliderRange {
        position: absolute;
        background-color: hsla(var(--text-hsl) / 0.2);
        border-radius: 9999px;
        height: 100%;
    }

    .SliderThumb {
        display: block;
        width: 20px;
        height: 20px;
        background-color: var(--background-lighter);
        border-radius: 10px;
    }

    .SliderThumb:hover {
        outline: 2px solid hsla(var(--text-hsl) / 0.1);
    }

    .SliderThumb:focus {
        outline: none;
    }
}