@use "@anori/components/utils.scss" as utils;

.Tooltip {
    background: rgba(0, 0, 0, 0.85);
    color: white;
    border-radius: utils.$radius-sm;
    padding: utils.$spacing-2 utils.$spacing-4-5;
    font-size: utils.$font-size-sm;
    z-index: 999;
    max-width: 400px;
    pointer-events: none;

    @include utils.compact {
        font-size: utils.$font-size-base;
    }

    &.has-clickable-content {
        pointer-events: initial;
    }
}