@use "@anori/components/utils.scss" as utils;

.Tooltip {
    background: rgba(0, 0, 0, 0.85);
    color: white;
    border-radius: var(--radius-sm);
    padding: var(--spacing-2) var(--spacing-4-5);
    font-size: var(--font-size-sm);
    z-index: 999;
    max-width: 400px;
    pointer-events: none;

    @include utils.compact {
        font-size: var(--font-size-base);
    }

    &.has-clickable-content {
        pointer-events: initial;
    }
}