
.WhatsNew-modal {
    padding: 0px !important;

    .modal-header {
        padding: 24px;
        padding-bottom: 0px;
    }

    .WhatsNew {
        max-width: 600px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    
        &-scrollarea {
            margin: 0 6px;
            margin-bottom: 12px;
        }
    
        &-content {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 0 18px;
        }

        .margin-top {
            margin-top: 1rem;
        }
    
        ul {
            margin-left: 22px;
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
        }
    
        p:not(:last-child) {
            margin-bottom: 1rem;
        }

        .analytics-checkbox {
            margin-top: 1rem;
            font-size: 1.25rem;
            justify-content: center;
            padding: 1rem;
            border-radius: 8px;
            background: var(--background-lighter);
        }
    }
}