
.WhatsNew-modal {
    padding: 0 !important;

    .modal-header {
        padding: var(--spacing-6);
        padding-bottom: 0;
    }

    .WhatsNew {
        max-width: 600px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    
        &-scrollarea {
            margin: 0 var(--spacing-1-5);
            margin-bottom: var(--spacing-3);
        }
    
        &-content {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-8);
            padding: 0 var(--spacing-4);
        }

        .margin-top {
            margin-top: var(--spacing-4);
        }
    
        ul {
            margin-left: var(--spacing-6);
            display: flex;
            flex-direction: column;
            gap: var(--spacing-3);
        }
    
        p:not(:last-child) {
            margin-bottom: var(--spacing-4);
        }

        .donation-callout {
            margin-top: var(--spacing-4);
            padding: var(--spacing-4);
            border-radius: var(--radius-md);
            background: var(--background-lighter);
        }

        .analytics-checkbox {
            margin-top: var(--spacing-4);
            font-size: var(--font-size-lg);
            justify-content: center;
            padding: var(--spacing-4);
            border-radius: var(--radius-md);
            background: var(--background-lighter);
        }

        .logo-wrapper {
            display: flex;
            justify-content: center;
            padding: var(--spacing-4);

            .logo {
                width: 300px;
                height: auto; 
            }
        }
        
    }
}
