.WidgetExpandArea-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    z-index: 99;
}

.WidgetExpandArea {
    width: min-content;
    max-width: 90vw;
    max-height: 90vh;

    // background: var(--background);
    overflow: hidden;
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    &.size-max {
        min-width: 90vw;
        min-height: 90vh;
    }


    &.detachable {
        padding-top: 0;
    }

    &.detached {
        display: flex;

        .WidgetExpandArea-content {
            align-self: stretch;
            flex: 1;
            min-width: unset;
            min-height: unset;
        }
    }

    &.minimized {
        padding-bottom: 0;
    }

    .resize-handle {
        position: absolute;
        background: transparent;

        &.top,
        &.bottom {
            cursor: ns-resize;
            height: 0.75rem;
        }

        &.left,
        &.right {
            cursor: ew-resize;
            width: 0.75rem;
        }

        &.left-top,
        &.right-bottom {
            cursor: nwse-resize;
        }

        &.left-bottom,
        &.right-top {
            cursor: nesw-resize;
        }

        &.top {
            top: 0;
            left: 1rem;
            right: 1rem;
        }

        &.bottom {
            bottom: 0;
            left: 1rem;
            right: 1rem;
        }

        &.left {
            top: 1rem;
            bottom: 1rem;
            left: 0;
        }

        &.right {
            top: 1rem;
            bottom: 1rem;
            right: 0;
        }

        &.left-top,
        &.right-bottom,
        &.left-bottom,
        &.right-top {
            width: 0.75rem;
            height: 0.75rem;
        }

        &.left-top {
            top: 0;
            left: 0;
        }

        &.right-bottom {
            right: 0;
            bottom: 0;
        }

        &.left-bottom {
            left: 0;
            bottom: 0;
        }

        &.right-top {
            right: 0;
            top: 0;
        }
    }

    .window-control-strip {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        padding: 0.75rem 0.5rem;
        background: var(--background);

        .window-title {
            flex: 1;
            user-select: none;
            line-height: 1;
            margin-top: 0.2rem;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .window-buttons {
            display: flex;
            align-items: center;
            gap: 1rem;

            &>* {
                border: none;
                background: none;
                padding: 0;
                cursor: pointer;
                opacity: 0.65;
                display: flex;

                svg {
                    color: var(--text);
                }
            }
        }
    }


    &.without-inner-padding {
        .WidgetExpandArea-content {
            padding: 0;
        }
    }

    .WidgetExpandArea-content {
        position: relative;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        overflow: hidden;
        min-width: min(80vw, 500px);
        min-height: min(80vh, 300px);
        border-radius: calc(24px - 0.75rem);
        background: var(--background-lighter);
        padding: 1rem;


        .close-button {
            position: absolute;
            top: 0;
            right: 0;
            border: none;
            background: none;
            padding: 0;
            cursor: pointer;
            opacity: 0.65;
            display: flex;

            svg {
                color: var(--text);
            }
        }

        &>.ScrollAreaRoot {
            flex-grow: 1;
            align-self: stretch;

            .ScrollAreaViewport {
                display: flex;
                flex-direction: column;
            }

            .ScrollAreaViewport>div[style] {
                display: flex !important;
                flex-direction: column !important;
                flex-grow: 1;
                align-self: stretch;
            }
        }
    }
}