@use "@components/utils.scss" as utils;

.WidgetCard {
    background: var(--background-lighter);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    color: var(--text);
    position: relative;
    padding: 0;

    &.with-padding {
        padding: 1rem;

        .overflow-protection {
            border-radius: 0;
        }
    }

    .interaction-blocker {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    
    .remove-widget-btn, .drag-widget-btn, .edit-widget-btn, .resize-handle {
        position: absolute;
        padding: 6px;
        border-radius: 18px;
        background: var(--background-lighter);
        color: var(--accent);
        border: 2px solid var(--accent);
        display: flex;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 6px 4px;
        z-index: 1;
    }

    .remove-widget-btn {
        top: -14px;
        right: -14px;
    }

    .edit-widget-btn {
        top: 30px;
        right: -14px;
    }

    .drag-widget-btn {
        top: -14px;
        left: -14px;
        cursor: grab;
        touch-action: none;
    }

    .resize-handle {
        bottom: -14px;
        right: -14px;
        touch-action: none;
        cursor: grab;
    }

    @include utils.compact {
        .remove-widget-btn {
            top: -8px;
            right: -4px;
        }
    
        .edit-widget-btn {
            top: 30px;
            right: -4px;
        }
    
        .drag-widget-btn {
            top: -8px;
            left: -4px;
        }

        .resize-handle {
            bottom: -8px;
            right: -4px;
        }
    }

    .error-description {
        margin-top: 12px;
    }

    .overflow-protection {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        text-overflow: ellipsis;
        border-radius: inherit;
        position: relative;
    }
}