.FolderContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;

    flex-grow: 1;
    align-self: stretch;
    padding: 24px;

    &>header {
        color: var(--text);
        display: flex;
        justify-content: space-between;
        align-self: stretch;

        &>.action-buttons-wrapper {
            // overflow: hidden;

            .action-buttons {
                display: flex;
                gap: 12px;
            }
        }

        svg {
            color: var(--text-subtle-1)
        }
    }

    &>main {
        flex-grow: 1;
        align-self: stretch;
        position: relative;

        .widgets-column {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }
    }
}