@use "@components/utils.scss" as utils;

.FolderContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;

    flex-grow: 1;
    align-self: stretch;
    padding: 24px;
    max-height: 100%;

    &>header {
        color: var(--text);
        display: flex;
        justify-content: space-between;
        align-self: stretch;

        &>.action-buttons-wrapper {
            .action-buttons {
                display: flex;
                gap: 12px;
            }
        }

        svg {
            color: var(--text-subtle-1)
        }
    }

    .WidgetsGrid {
        flex-grow: 1;
        align-self: stretch;
        position: relative;
        display: flex;

        .WidgetsGrid-viewport {
            display: flex;
            flex-grow: 1;

            &>div[style] {
                display: flex !important;
                flex-grow: 1;
                align-items: stretch;
            }
        }

        .widgets-relative-wrapper {
            position: relative;
            flex-grow: 1;
        }
    }

    &.onboarding-visible .widgets-relative-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.edit-widget-modal {
    padding: 0px !important;

    .modal-header {
        padding: 24px;
        padding-bottom: 0px;
    }

    .edit-widget-scrollarea {
        margin: 0 6px;
        margin-bottom: 12px;
    
        .edit-widget-content {
            padding: 0 18px;
            padding-bottom: 18px;
            width: 800px;
            max-width: 80vw;
            overflow: hidden;
        }
    }
}

