.NewWidgetWizard {
    width: min(80vw, 800px);
    overflow: hidden;

    .new-widget-content {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .search-input {
            margin: 2px;
        }

        section {
            display: flex;
            flex-direction: column;

            .widgets-mock-background {
                background-image: var(--background-image);
                background-size: cover;
                border-radius: 16px;

                .widgets-mocks, .widgets-group {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    gap: 12px;
                    padding: 12px;
                    border-radius: 16px;

                    .WidgetCard {
                        cursor: pointer;
                    }

                    .widget-name {
                        margin-top: 6px;
                        margin-left: 8px;
                        word-wrap: normal;

                    }
                }
            }
        }
    }


}

.NewWidgetWizard-wrapper {
    padding: 0px !important;

    .modal-header {
        padding: 24px;
        padding-bottom: 0px;
    }

    .NewWidgetWizard-scrollarea {
        margin: 0 6px;
        margin-bottom: 12px;
    
        .NewWidgetWizard {
            padding: 0 18px;
            padding-bottom: 18px;
        }
    }
}