.Settings {
    margin: 0 6px;
    margin-bottom: 12px;

    .settings-content {
        padding: 0 18px;
        padding-bottom: 36px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        max-width: 600px;

        section {
            display: flex;
            flex-direction: column;
            gap: 6px;

            p {
                margin-bottom: 12px;
            }

            button {
                align-self: center;
            }

            .customize-backgrounds {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 24px;

            }

            .import-export-button {
                display: flex;
                justify-content: space-around;
                margin-top: 8px;
            }
        }
    }
}

.FolderItem {
    display: flex;
    gap: 8px;
    align-items: center;
    margin: 6px 0;

    .folder-icon {
        cursor: pointer;
        background: none;
        display: flex;
        color: inherit;
        padding: 6px 12px;

        &.static {
            padding: 6px 14px;
        }
    }

    input {
        background: transparent;
        border: none;
        font-size: inherit;
        color: inherit;
        font-family: inherit;
        border-radius: 6px;

        &:focus {
            outline: none;
            outline: 2px solid var(--accent);
        }
    }

    .folder-name {
        padding: 2px 8px;
        flex-grow: 1;
    }

    .Button {
        background: var(--background);
    }
}

.BackgroundPlate {
    width: 250px;
    height: 140px;
    flex-grow: 1;
    border-radius: 12px;
    background-size: cover;
    background-clip: padding-box;
    position: relative;
    border: 4px solid transparent;

    .color-cirles-wrapper {
        position: absolute;
        bottom: 8px;
        left: 8px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 4px;

        .color-circle {
            width: 30px;
            height: 30px;
            border-radius: 15px;
        }
    }



    &.active {
        border-color: var(--accent);
    }
}