.Settings {
    margin: 0 6px;
    margin-bottom: 12px;

    .settings-content {
        padding: 0 18px;
        padding-bottom: 36px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        max-width: 600px;

        section {
            display: flex;
            flex-direction: column;
            gap: 6px;

            p {
                margin-bottom: 12px;
            }

            button {
                align-self: center;
            }

            .options-checkboxes {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

            .no-custom-icons-alert {
                padding: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }

            .custom-icons-grid {
                display: grid;
                // grid-template-columns: 1fr 1fr;
                grid-template-columns: repeat(2, minmax(0, 1fr));;
                gap: 12px;
                margin-bottom: 8px;

                .custom-icon-plate {
                    padding: 12px;
                    border-radius: 12px;
                    background: var(--background-lighter);
                    display: flex;
                    gap: 12px;
                    align-items: center;

                    .custom-icon-name {
                        flex: 1;
                        text-overflow: ellipsis;
                        font-size: 0.9rem;
                        overflow: hidden;
                    }
                }
            }

            .draft-icons-list {
                border: 3px solid var(--background-lighter);
                border-radius: 12px;
                margin-bottom: 8px;
                display: flex;
                flex-direction: column;
                gap: 16px;
                padding: 16px;
            }

            .draft-icon-section {
                display: flex;
                align-items: center;
                gap: 32px;

                .draft-icon-preview {
                    align-self: center;
                }

                .draft-icon-name-wrapper {
                    flex-grow: 1;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    
                    .draft-icon-name {
                    }

                    .draft-icon-name-error {
                    }
                }
            }

            .customize-backgrounds {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 24px;

            }

            .import-export-button {
                display: flex;
                justify-content: space-around;
                margin-top: 8px;
            }
        }
    }
}

.FolderItem {
    display: flex;
    gap: 8px;
    align-items: center;
    margin: 6px 0;

    .folder-drag-indicator {
        touch-action: none;
    }

    .folder-icon {
        cursor: pointer;
        background: none;
        display: flex;
        color: inherit;
        padding: 6px 12px;

        &.static {
            padding: 6px 14px;
        }
    }

    input {
        background: transparent;
        border: none;
        font-size: inherit;
        color: inherit;
        font-family: inherit;
        border-radius: 6px;

        &:focus {
            outline: none;
            outline: 2px solid var(--accent);
        }
    }

    .folder-name {
        padding: 2px 8px;
        flex-grow: 1;
    }

    .Button {
        background: var(--background);
    }
}

.BackgroundPlate {
    width: 250px;
    height: 140px;
    flex-grow: 1;
    border-radius: 12px;
    background-size: cover;
    background-clip: padding-box;
    position: relative;
    border: 4px solid transparent;

    .color-cirles-wrapper {
        position: absolute;
        bottom: 8px;
        left: 8px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 4px;

        .color-circle {
            width: 30px;
            height: 30px;
            border-radius: 15px;
        }
    }



    &.active {
        border-color: var(--accent);
    }
}